* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: rgb(172, 172, 172);
}

.search {
    border: 2px solid #000;
    border-radius: 50px;
    width: 750px;
    height: 40px;
}

.main {
    /* display: flex; */
    background: #f00;
    width: 100%;
}