<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title></title>

</head>

<body>
    
    <div id="header">
        <form method="POST" action="">
            <input type="text" name="search" id="search"></input>
            <input type="submit" pys-Onclick="method" id="submit_btn" value="Найти">
            </input>
        </form>
    </div>

    <h1>НОУТБУК ASUS</h1>

    <!-- {% for product in context_mvideo.products %} -->
    <div id="box">
        <div id="info_block">
            <div id="name">Ноутбук ASUS Vivobook 15 M1503Q, 15.6\", AMD Ryzen 7 5800H 3.2ГГц, 16ГБ, 512ГБ SSD, AMD
                Radeon , без операционной системы, синий [90nb0y91-m007r0]</div>
            <div class="line"></div>
            <div id="price">65990 р.</div>
        </div>
        <a href="https://www.citilink.ru//product/noutbuk-asus-vivobook-m1503q-ryzen-7-5800h-16gb-ssd512gb-15-6-oled-2-8-1859578/"
            target="blank">
            <div id='button'>Перейти</div>
        </a>
    </div>
    <!-- {% endfor %} -->

    <!-- {% for product in context_citylink.products %} -->
    <div id="box">
        <div id="info_block">
            <div id="name">Ноутбук ASUS Vivobook 15 M1503Q, 15.6\", AMD Ryzen 7 5800H 3.2ГГц, 16ГБ, 512ГБ SSD, AMD
                Radeon , без операционной системы, синий [90nb0y91-m007r0]</div>
            <div class="line"></div>
            <div id="price">65990 р.</div>
        </div>
        <a href="https://www.citilink.ru//product/noutbuk-asus-vivobook-m1503q-ryzen-7-5800h-16gb-ssd512gb-15-6-oled-2-8-1859578/"
            target="blank">
            <div id='button'>Перейти</div>
        </a>
    </div>
    <!-- {% endfor %} -->

    <!-- {% for product in context_eldorado.products %} -->
    <div id="box">
        <div id="info_block">
            <div id="name">Ноутбук ASUS Vivobook 15 M1503Q, 15.6\", AMD Ryzen 7 5800H 3.2ГГц, 16ГБ, 512ГБ SSD, AMD
                Radeon , без операционной системы, синий [90nb0y91-m007r0]</div>
            <div class="line"></div>
            <div id="price">65990 р.</div>
        </div>
        <a href="https://www.citilink.ru//product/noutbuk-asus-vivobook-m1503q-ryzen-7-5800h-16gb-ssd512gb-15-6-oled-2-8-1859578/"
            target="blank">
            <div id='button'>Перейти</div>
        </a>
    </div>
    <!-- {% endfor %} -->
</body>

</html>