@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

#header {
    margin: 80px;
    margin-bottom: 0;
    display: flex;
    width: 1440px;
    padding: 30px 60px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#search {
    width: 1100px;
    height: 60px;
    outline: none;
    font-size: 24px;
    padding: 8px 24px;
    border: 0;
    border-bottom: 2px solid #5d6afd;

}

#submit_btn {
    width: 150px;
    height: 60px;
    border: 0;
    border-radius: 15px;
    background: #5d6afd;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

#submit_btn:hover, #button:hover{
    transform: scale(1.05);
}

h1 {
    margin: 50px;
    text-transform: capitalize;
}

img {
    width: 100%;
    object-fit: fill;
}

#logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    height: 120px;
    margin-bottom: 30px;
}

#photo {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;

}

#main_cont {
    display: flex;
    width: 1440px;
    justify-content: space-around;
}

#shop_cont {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#box {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    background: #E9EAFF;
    height: 100%;
    border-radius: 15px;
    margin-bottom: 50px;
}

#name {
    font-weight: light;
    margin-bottom: 20px;
    height: 100%;
}

#price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#button {
    text-align: center;
    padding: 20px;
    width: 150px;
    background: #5d6afb;
    border-radius: 15px;
    color: #fff;
    transition: 0.5s;
}