@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit_btn {
    border: 0;
    border-radius: 16px;
    margin: 5px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 14px;
}

#submit_btn:hover {
    cursor: pointer;
    transform:scale(1.1);
}

#search {
    border: 2px solid #000;
    border-radius: 50px;
    width: 750px;
    padding: 10px 20px;
    outline: none;
    font-size: 18px;
}

#main {
    /* display: flex; */
    background: #f00;
    width: 100%;
}

#box {
    max-width: 50%;
    width: fit-content;
    border: 2px solid black;
    border-radius: 48px;
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 24px;
}

#info_block > * {
    margin-right: 32px;
}

#name {
    margin-bottom: 16px;
    font-size: 22px;
}

#price {
    font-weight: bold;
    margin-top: 8px;
    font-size: 24px;
}

.line  {
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

a {
    text-decoration: none;
}

#button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 14px;
    background: red;
    border-radius: 15px;
    color: white;
    transition: 0.2s;
}

#button:hover {
    cursor: pointer;
    transform:rotate(5deg);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
    padding: 32px;
}