<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat:wght@300;400;500;600&display=swap"
        rel="stylesheet">
    <title></title>

</head>

<body>

    <div id="header">
        <form method="POST" action="">
            <input type="text" name="search" id="search" placeholder="Введите запрос..."></input>
            <input type="submit" id="submit_btn" value="Найти"></input>
        </form>
    </div>

    <h1>{{ q }}</h1>

    <div id="logos">
        <div id="photo"><img src="{{ url_for('static', filename='logos/mvid.png') }}"></div>
        <div id="photo"><img src="{{ url_for('static', filename='logos/city.png') }}"></div>
        <div id="photo"><img src="{{ url_for('static', filename='logos/el.png') }}"></div>
    </div>

    <div id="main_cont">
        <div id="shop_cont">
            {% for product in context_mvideo.products %}
            <div id="box">
                <div id="name">{{ product.name }}</div>
                <div class="line"></div>
                <div id="price">{{ product.price }} р.</div>
                <a href="{{ product.link }}" target="blank">
                    <div id='button'>Перейти</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="shop_cont">
            {% for product in context_citylink.products %}
            <div id="box">
                <div id="name">{{ product.name }}</div>
                <div class="line"></div>
                <div id="price">{{ product.price }} р.</div>
                <a href="{{ product.link }}" target="blank">
                    <div id='button'>Перейти</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="shop_cont">
            {% for product in context_eldorado.products %}
            <div id="box">
                <div id="name">{{ product.name }}</div>
                <div class="line"></div>
                <div id="price">{{ product.price }} р.</div>
                <a href="{{ product.link }}" target="blank">
                    <div id='button'>Перейти</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>