<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>

</head>
<body>
    <div id="header">
        <form method="POST" action=""> 
            <input type="text" name="search" id="search"></input>
            <input type="submit" pys-Onclick="method" id="submit_btn" value="Найти">
            </input>
        </form>
    </div>

    <h1>{{ q }}</h1>
    
{% for product in context.products %}
    <div id="box">
        <div id="info_block">
            <div id="name">{{ product.name }}</div>
            <div class="line"></div>
            <div id="price">{{ product.price }} р.</div>
        </div>
        <a href="{{ product.link }}" target="blank">
        <div id='button'>Перейти</div> 
        </a>
    </div>
{% endfor %}
</body>
</html>