<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>РСЧИР</title>

</head>
<body>
    <div id="header">
        <input type="text" id="search"></input>
        <button type="submit" pys-Onclick="method" id="submit_btn">
            <div class="arrow"></div>
        </button>
    </div>
    <div id="main">
        <div id="mvideo"></div>
        <div id="sec"></div>
        <div id="th"></div>
    </div>
</body>
</html>